.heading{
    padding:1rem 4rem;
}
.img-area,.btn-area{
    text-align: center;
    margin-bottom: 20px;
}
.ar{
    margin: auto;
}
img{
	transform: 1s;
    text-align: center;
    height: 250px;
    width: 250px;
}

.rnv{
    background-color: #462696;
    border-color: #462696;
}
.rnv:hover{
	background-color: #8c2ac3;
	border-color: #8c2ac3;
}